:root {
    --background: rgb(232, 198, 178);
    --grad: linear-gradient(to bottom, rgb(199, 127, 127), rgb(50, 105, 177));
    --comp-col-1: rgb(173, 164, 158);
}

@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: var(--background);
}

.title {
    padding: 0%;
    display: flex;
    flex-direction: column;
    
}

.title h1:nth-child(1) {
    font-size: 20vmin;
    text-align: center;
    background: linear-gradient(
        -45deg,
        #3269b1,
        #e73c7e,
        #23a6d5,
        #c77f7f
    );
    background-size: 400% 400%;
    height: 30vmin;
    transition: all 3s;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    
}

@keyframes title_intro {
    0% {
        font-size: 0vmin;
        background-size: 100% 100%;
    }
}

.title h1:nth-child(2) {
    font-size: 5vmin;
    padding: 0%;
    text-align: center;
    color: var(--comp-col-1);
}

.title h1:hover {
    background-position: 100% 50%;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.input input {
    background-color: var(--comp-col-1);
    font-size: 5vmin;
    text-align: center;
    color: var(--background);
    border: none;
    padding-left: 20px;
    padding-left: 20px;
    border-radius: 50px 50px;
    transform: rotateZ();
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.dice-background{position: absolute;
width: 100%;
height: 100%;
background-color: var(--comp-col-1);
display: flex;
flex-direction: row;
justify-content: center;
}


.stage {
    width: 100vmin;
    left: 50%;
    height: 100vh;
    -webkit-perspective: 50%;
    -webkit-perspective-origin: 50% 50%;
}

figure {
    display: block;
    position: absolute;
    width: 100vmin;
    height: 100vmin;
    background-color: var(--comp-col-1);
}

@keyframes text_reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cube h1 {
    text-align: center;
    margin-top: 50%;
    font-size: 10vmin;
    color: var(--background);
    opacity: 0;
}
.side-a {
    animation: 1s text_reveal forwards;
}
.side-b {
    animation: 1s text_reveal forwards;
}
.side-c {
    animation: 1s text_reveal forwards;
}
.side-d {
    animation: 1s text_reveal forwards;
}

#rank-sliders input {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: var(--comp-col-1);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    margin-bottom: 2vmin;
}

#rank-sliders input:hover {
    opacity: 1;
}

#rank-sliders input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--grad);
    cursor: pointer;
}

#rank-sliders input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--grad);
    cursor: pointer;
}

.cube {
    -webkit-transform-style: preserve-3d;
    animation: rotate 10s ease-out;
    left: 50%;
    top: 50%;
}

@keyframes rotate {
    0% {
        transform: rotateY(-720deg);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

figure {
    -webkit-transform-origin: 50% 50% 0;
}
.front {
    -webkit-transform: translateZ(50vmin);
}
.back {
    -webkit-transform: rotateY(180deg) translateZ(50vmin);
}
.left {
    -webkit-transform: rotateY(-90deg) translateZ(50vmin);
}
.right {
    -webkit-transform: rotateY(90deg) translateZ(50vmin);
}

.input div {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding-left: 5vmin;
    padding-right: 5vmin;
    text-align: center;
    font-size: 3vmin;
    
}

.number-control {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.number-control div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.number-control button {
    border: none;
    background-color: var(--comp-col-1);
    color: var(--background);
    border-radius: 100%;
    width: 5vmin;
    height: 5vmin;
    margin-left: 5vmin;
    margin-right: 5vmin;
    font-size: 4vmin;
}

.number-control button:disabled {
    background-color: var(--background);
    color: var(--comp-col-1);
}

button {
    background-color: var(--comp-col-1);
    border: none;
    color: var(--background);
    border-radius: 50px 50px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#pick {
    font-size: 5vmin;
    text-decoration: none;
    border-radius: 50px 50px;
    padding-right: 20px;
    padding-left: 20px;
    border: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#clear {
    font-size: 5vmin;
    color: var(--comp-col-1);
    background-color: var(--background);
}

#return-to-home {
    position: fixed;
    bottom: 10%;
    left: 0%;
    font-size: 5vmin;
    align-self: center;
    width: 100%;
    text-align: center;
    text-emphasis: none;
    text-decoration: none;
    color: var(--background);
}

#funny-man-holder {
    position: fixed;
   
    width: 200vw;

    bottom: -10vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: nowrap;

}

#funny-little-man {
   
    
    flex-shrink: 0.1;
    opacity: 0.5;

    
    animation: infinite funny-man-dance;
    animation-duration: 1s;
}

#funny-man-holder img:nth-child(1) {
    animation-duration: 1s;
}

#funny-man-holder:nth-child(2) {
    animation-duration: 2s;
}

#funny-man-holder:nth-child(3) {
    animation-duration: 1.5s;
}

#funny-man-holder:nth-child(4) {
    animation-duration: 1.2s;
}

#funny-man-holder:nth-child(5) {
    animation-duration: 1.6s;
}
#funny-man-holder:nth-child(6) {
    animation-duration: 2s;
}
#funny-man-holder:nth-child(7) {
    animation-duration: 0.7s;
}
#funny-man-holder:nth-child(8) {
    animation-duration: 3s;
}
#funny-man-holder:nth-child(9) {
    animation-duration: 1.4s;
}
#funny-man-holder:nth-child(10) {
    animation-duration: 1.7s;
}
#funny-man-holder:nth-child(11) {
    animation-duration: 1.4s;
}




@keyframes funny-man-dance {
    0% {
        transform:  translateY(0px) translateX(0px);
    }
    20% {
        transform: translateY(10px) translateX(10px);
    }
    40% {
        transform:  translateY(0px) translateX(10px);
        opacity: 0.5;
    }
    60% {
        transform: translateY(10px) translateX(0px);
    }
    100% {
        transform:translateY(0px) translateX(0px);
    }
}

.resturant-tab {
    width: 90vw;
    height: 5vh;
    background-color: var(--comp-col-1);
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-left: 20px;
    border-radius: 50px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.edit-resturant-tab {
    background-color: var(--background);
    color: var(--comp-col-1);
    height: 4vh;
    justify-self: flex-end;
    align-self: center;
    font-size: 2vmin;
}

.edit-resturant-tab:hover {
    background: var(--grad);
    color: var(--comp-col-1);
}

.delete-resturant-tab {
    background-color: var(--background);
    color: var(--comp-col-1);
    height: 4vh;
    top: 4vh;
    align-self: center;
    font-size: 2vmin;
}

.delete-resturant-tab:hover {
    background: var(--grad);
    color: var(--comp-col-1);
}

.resturant-tab-value {
    width: 30vw;
    font-size: 2vw;
}

.resturant-tab-name {
    width: 30vw;
    align-self: center;
    font-size: 3vmin;
    color: var(--background);
}

#add-resturant-btn {
    font-size: 5vmin;
    margin-top: 5vh;
    width: 30vw;
    justify-items: center;
    align-self: center;
}

#add-resturant-btn:hover {
    background: var(--grad);
    color: var(--comp-col-1);
}

#clear {
    font-size: 5vmin;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    width: 30vw;
    justify-items: center;
    align-self: center;
    background: var(--comp-col-1);
    color: var(--background);
}

#clear:hover {
    background: var(--grad);
    color: var(--comp-col-1);
}

.labeliser {
    font-size: 5vmin;
    align-self: center;
}

#centraliser {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pick-center {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#pick {
    font-size: 5vmin;
    height: 5vh;
    width: 40vw;
    text-align: center;
    margin-top: 2.5vmin;

    align-self: center;
    background: var(--grad);
    color: var(--comp-col-1);
}

#pick:hover {
    background: var(--comp-col-1);
    color: var(--grad);
}

.person-input-page {
    background-color: var(--background);
    color: var(--comp-col-1);
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}
.person-input-page div {
    background-color: blue;
    width: 100%;

}

.person-input-page :nth-child(3){
 margin-left: 10%;
 margin-right: 10%;
}

.sumit-my-resturant-review {
    background: var(--comp-col-1);
    color: var(--background);
    font-size: 10vmin;
    margin-left: 10%;
    margin-right: 10%;
}

.sumit-my-resturant-review:hover {
    background: var(--grad);
    color: var(--background);
    font-size: 10vmin;
}

